* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.wrapper {
    background-color: #001821;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position-x: -250px;
}
.container {
    width: 1140px;
    margin: 0 auto;
 }
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
 }
.logo { }
.nav { 
    margin-right: auto;
    padding-left: 79px;
}
.main-nav { 
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.main-nav__item { 
    margin-right: 54px;
}
.main-nav__link { }
.main-nav__link:hover { 
    color: #DA0100;
}
.contacts { }
.address { }
.address__phone { 
    font-size: 26px;
}
.shedule { 
    display: none;
}
.shedule__link { }
.shedule__content { }
.shedule__text { }
.main { }
.main__container { }
.section { }
.hero { }
.hero__title { }
.hero__subtitle { }
.btn { }
.hot-tours { }
.section__title { }
.section__title--fire
.tours { }
.tours__item { }
.tour { }
.tour__img { }
.tour__name { }
.tour__options { }
.nights { }
.foods { }
.tour__description { }
.btn--small { }
.btn--outline { }
.news { }
.news__page { }
.news__link { }
.news__item { }
.news__image { }
.news__time { }
.news__header { }
.news__description { }
.paginator { }
.paginator__text { }
.paginator__list { }
.paginator__item { }
.paginator__link { }
.about { }
.section__header { }
.section__text { }
.footer { }
.footer__container { }
.social { }
.social__item { }
.social__link { }
.address__text { }