.btn {
    display: inline-block;
    padding: 18px 40px;
    background-color: #F5170E;
    border-radius: 35px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.26em;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    background-color: #DA0100;
}

.btn--small {
    padding: 18px 30px;
}

.btn--outline {
    background-color: #fff;
    color: #F5170E;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #F5170E;
    margin-top: auto;
}

.btn--outline:hover {
    background-color: #F5170E;
    color: #fff;
    border: 1px solid #F5170E;
}