.partners {
    padding-bottom: 117px;
}

.partners__header {
    font-size: 48px;
    line-height: 1.42em;
    margin-bottom: 80px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    gap: 88px 56px
}