.reviews__list {
    list-style: none;
    margin-bottom: 71px;
    column-count: 2;
}

.reviews__item {
    display: inline-flex;
    background-color: #F4F5F5;
    border-radius: 5px;
    width: 557px;
    margin-right: 26px;
    margin-bottom: 17px;
    padding: 50px 31px 32px 31px;
}

.reviews__item:nth-child(2n) {
    margin-right: 0;
}