.shedule {
    position: relative;
    right: 0;
    text-align: right;
}

.shedule__link {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    color: #98A4A8;
    text-decoration: underline;
    margin-bottom: 10px;
}

.shedule__link:hover {
    color: #fff;
}

.shedule__link::after {
    /* content: "";
    width: 100%;
    height: 95px;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1; */
}

.shedule:hover .shedule__content {
    transition: opacity 0.5s;
    display: inline-block;
    opacity: 0.8;
    width: 100%;
    left: 0;
}

.shedule__content {
    position: absolute;
    text-align: left;
    padding: 20px 18px;
    background-color: #EDEDED;
    opacity: 0;
    border-radius: 5px;
    width: 100%;
    right: -9999px;
    top: 32px;
}

.shedule__content::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #EDEDED;
    position: absolute;
    right: 40px;
    top: -10px;
    transform: rotate(45deg);
}

.shedule__text {
    color: #1E1F20;
    font-weight: 600;
}

.shedule__text:first-child {
    margin-bottom: 7px;
}

.shedule__text--bold {
    font-weight: 700;
}

.shedule::before {
    content: '';
    display: block;
    width: 50%;
    height: 10px;
    position: absolute;
    bottom: -5px;
    right: 0;
}